.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  #logout-form {
    display: inline;
  }
  #logout-form button {
    padding: 0;
    margin: 0;
  }

  .list-container {
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    grid-auto-rows: 150px;
  }